body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-weight: 400px;
}

h1{
    color: rgb(209, 83, 25);
    text-align:  center;
}

.wrapper{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-bottom: 30px;
    margin-top: 20px;
}

#cot_btn{
    text-align: center;
}

input{
    height: 40px;
}

img{
    width: 80px;
    height: 70px;
}

h2{
    background: rgb(132, 205, 235);
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 8px 20px;
}

#phieu_dat_phong{
    border:1px solid rgb(132, 205, 235);
}

#table_TK{
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#tb_thong_tin1{
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#cell_min{
    width: 33%;
}